div{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position:relative;
    bottom:650px;
}

#DR {
    width:500px;
    border-radius: 10px;

}
.drag{
    width:500px;
    border-radius: 50%;
}